{% extends "layout.html" %}

{% block body %}
<head>
    <link rel="stylesheet" href="../static/css/table_styles.css">
</head>
<body >
    <h1 class="register">About</h1>
    <p class="abouts">Welcome to YouTube BookMarker! </p>
    <div class="about">
    <body class="content-above-footer">

    <p>
        I am Robley!
    </p>
        <p>
            I was motivated to implement this project for the need to save
            YouTube video I want to watch later.<br>
            YouTube does not currently have a smarter way of bookmarking for easier access later.<br>
            This should also help students save their YouTube resources without worries.
        </p>
        
        <h3>
            Author details
        </h3>
        <p>
            Check me out on my below social handles
        </p>
        <ul>
            <li>
                <a href="https://www.linkedin.com/in/robley-otieno-75900426b/">LinkedIn</a>
            </li>
            <li>
                <a href="https://github.com/roochieng/">GitHub</a>
            </li>
            <li>
                <a href="https://twitter.com/RobleyOchieng">Twitter</a>
            </li>
        </ul>

    </div>

</body>

{% endblock %}