{% extends "layout.html" %}

{% block body %}
<head>
    <link rel="stylesheet" href="../static/css/table_styles.css">
</head>
<body>
    <h1 class="register">About</h1>
    <p>Welcome to YouTube BookMarker! </p>
    <div class="about">
    <body class="content-above-footer">
    <head>
        <link rel="stylesheet" href="table_styles.css">
    </head>
        <p>
            I was motivated to implement this project because of the need to save
            YouTube video urls that am not able to watch right now, and don't want to sign in to YouTube
            to watch them.
            I am not comfortable with YouTube analytics profiling.
        </p>
        <h3>
            Timelines
        </h3>
        <p>
            The project was implemented within two weeks, this includes bulding the backend,
            frontend and the databases.
        </p>
        <h3>
            Author details
        </h3>
        <p>
            The project was solely built by myself and below are my social handles
        </p>
        <ul>
            <li>
                <a href="https://www.linkedin.com/in/robley-otieno-75900426b/">LinkedIn</a>
            </li>
            <li>
                <a href="https://github.com/roochieng/">GitHub</a>
            </li>
            <li>
                <a href="https://twitter.com/RobleyOchieng">Twitter</a>
            </li>
        </ul>
        <p><a href="https://github.com/roochieng/YouTube_BookMarker">Project's GitHub Reporsitory link</a></p>

    </div>

</body>

{% endblock %}