{% extends "layout.html" %}

{% block body %}
<head>
    <link rel="stylesheet" href="../static/css/table_styles.css">
</head>
<body>
    <p>Welcome to YouTube BookMarker</p>
    <div class="about">
        <p>
            Welcome to YouTube bookmarker. 
            A web app that enables you to bookmark 
            YouTube Videos by copying and pasting the url 
            in the add bookmark section, click + and we save 
            it for you so you can come back later to watch, 
            at your convenient.
            Dashboard shows you a table of the bookmarks you 
            have added.
        </p>
    </div>

</body>

{% endblock %}