{% extends "layout.html" %}

{% block body %}
<head>
    <link rel="stylesheet" href="../static/css/table_styles.css">
</head>
<body>
    <p>Welcome to YouTube BookMarker!</p>
    <div class="detail">
        <p class="last_five">Here is a table of your last five Bookmarks.</p>
        <p>You can easily watch them by clicking the video names.</p>
        <a class="watch_demo" href="{{url_for('demo')}}">If you are not sure how to add a bookmark, click on Demo above to watch a short video guide.</a>
    </div>
    <table class="table">
        {% if bookmarks %}
            <thead>
                <tr>
                    {% for header in headers %}
                    <th>{{ header}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for bookmark in bookmarks %}
                    <tr>
                        <td class="link"><a href="{{bookmark.video_url}}", target="_blank">{{ bookmark.video_name }}</a></td>
                        <td>{{ bookmark.channel_name }}</td>
                        <td>{{ bookmark.date_created.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        {% else %}
            <p> You currently have no bookmark, click on <a class="bookmark-link" href ="{{url_for('bookmark')}}"> Add Bookmark </a> to bookmark a video</p>
        {% endif %}
    </table>

</body>

{% endblock %}