{% extends "layout.html" %}

{% block body %}
<head>
    <link rel="stylesheet" href="../static/css/table_styles.css">
</head>
<body>
    <h1 class="register">About</h1>
    <p>Welcome to YouTube BookMarker! </p>
    <div class="about">
        <p>
            Here is a short guide how to navigate
        </p>
        <h2>
            Overview
        </h2>
        <p>
            This is a website that enables you to bookmark 
            YouTube Videos by copying and pasting the url 
            to save it so you can come back later to watch, 
            at your convenient.
        </p>
        <p>
            After you have bookmarked a video can watch by navigating to home if it is among 
            the last 5 bookmarks or through Dashboards to get all bookmars.
        </p>
        <ul>
            <li>
                Home section shows the latest videos you have bookmarked
            </li>
            <li>
                Dashboard section shows you a table of the bookmarks you 
                have added.
            </li>
            <li>
                Add Bookmark enanables you to bookmark a youtube video by copying the youtube video url, pasting in the tesxtbox and click Bookmark button.
            </li>
            <li>
                You can also watch the video demo by clicking the Demo at the top navigation bar.
            </li>
        </ul>
        <p class="caution-note">Note: We are not yet supporting playlists or non-YouTube videos.</p>

    </div>

</body>

{% endblock %}