<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>YouTube BookMarker</title>
        <link rel="stylesheet" href="../static/css/table_styles.css">
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
    <footer class="disclaimer">
        Disclaimer: This is not a YouTube competitor, 
        and we are not promoting any form of piracy. All 
        the rights of the videos belong to YouTube and 
        Video owners. We are just complementing YouTube in 
        this case.
    </footer>
</html>