{% extends "layout.html" %}

{% block body %}
<head>
    <link rel="stylesheet" href="../static/css/table_styles.css">
    <h1 class="register">Login</h1>
</head>
<body>
    <!-- Sing in area -->
    <div class="content-section">
        <div>
            {% for message in get_flashed_messages() %}
                <div class="flash-message">{{ message }}</div>
            {% endfor %}
        </div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            <div class="bodder-top">
                <small class="text-muted">
                    <a class="ml-2" href="{{url_for('forgot_password')}}">Forgot password!</a>
                </small>
            </div>
        </form>
        <div class="bodder-top">
            <small class="text-muted">
                Don't have an account? <a class="ml-2" href="{{url_for('signup')}}">Register!</a>
            </small>
        </div>
    </div>
</body>
{% endblock %}