{% extends "layout.html" %}

{% block body %}
<head>
    <!--<script src="{{ url_for('static', filename='scripts/reloadPage.js') }}"></script>-->
    <link rel="stylesheet" href="../static/css/table_styles.css">
    <h1 class="register"> Reset Password</h1>
</head>
<body>
    <div class="bookmark">
        <div>
            {% for message in get_flashed_messages() %}
                <div class="flash-message">{{ message }}</div>
            {% endfor %}
        </div>
        <form id="bookmark-form" method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="bookmark-form-group">
                <div class="bookmark-form-group">
                    {{ form.email.label(class="form-control-label") }} <small class="note"> <a>Enter email to get instructions for the password reset</a></small>
                    {{ form.email(class="form-control form-control-lg") }}
                </div>
            </fieldset>
            <div class="bookmark-form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
</body>

{% endblock %}