{% extends "layout.html" %}

{% block body %}

<head>
    <link rel="stylesheet" href="../static/css/table_styles.css">
    <h1 class="register">Register</h1>
</head>

<body>
    <!-- Signup Area -->
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {{ form.email(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {{ form.password(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label(class="form-control-label") }}
                    {{ form.confirm_password(class="form-control form-control-lg") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
        <div class="bodder-top">
            <small class="text-muted">
                Have an account? <a class="ml-2" href="{{url_for('login')}}">Login!</a>
            </small>
        </div>
    </div>
</body>
{% endblock %}