    table th {
    border: 1px solid black;
    background-color: #afe4e4;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #D6EEEE;
    border: 1px solid black;
}

.about {
    width: 700px;
    height: 300px;
    justify-content: center;
    font-family: Calibri;
}

.disclaimer {
    margin-bottom: 5px;
    font-weight: bold;
    font-family: Arial;
    font-style: italic;
    color: red;
    font-size: smaller;
    position: fixed;
    left: 0;
    bottom: 0;

}

.register {
    text-align: center;
}

.content-section {
    max-width: 600px; /* Set the maximum width of the content section */
    margin: 0 auto; /* Center the content section horizontally */
    padding: 20px; /* Add some padding to create space around the content */
}

/* Style the form groups (each label and input pair) */
.form-group {
    margin-bottom: 30px;
}

/* Style the labels to appear on top */
.form-group label {
    display: block; /* Make labels block-level elements */
    margin-bottom: 5px;
}

/* Style the input fields */
.form-group input {
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: auto;
}

/* Style the form submit button */
.form-group .btn {
    width: 150px; /* Adjust the button's width as needed */
    font-size: large;
    color: white;
    background-color: rgb(143, 7, 7);
    display: block;
    font-family: Arial;
    padding: 10px 20px; /* Adjust padding for the button */
    cursor: pointer; /* Change cursor to pointer on hover */
}
.form-group .btn:hover {
    background-color: #3772ad; /* Change background color on hover */
    color: rgb(143, 7, 7);
    font-weight: bold;
}

/* Style the "Have an account?" text and link */
.text-muted a {
    text-decoration: none; /* Remove underline from the link */
    color: #007bff; /* Style the link text color */
    
}

.bodder-top {
    display: block;

}
/* Add spacing between the "Have an account?" text and link */
.text-muted {
    margin-top: 10px;

}

/* Style the navigation bar */
.navbar {
    background-color: #333; /* Background color for the navigation bar */
}

.navbar-dark .navbar-toggler-icon {
    background-color: #fff; /* Color of the navigation toggle button */
}

.navbar-brand {
    color: #fff; /* Text color for the website name */
}

.navbar-brand:hover {
    color: #fff; /* Text color on hover for the website name */
}

/* Style the links in the navigation bar */
.navbar-nav .nav-item .nav-link {
    color: #fff; /* Text color for the links */
    margin-right: 20px; /* Add margin between links */
}

.navbar-nav .nav-item .nav-link:hover {
    color: #007BFF; /* Text color on hover for links */
}

/* Adjust the right alignment of links */
.navbar-nav.ml-auto {
    margin-right: 0;
}

/* Style the navigation toggle button for small screens */
.navbar-toggler {
    border: none; /* Remove border around the button */
}

