    .table {
        margin-left: 50px;
    }
    
    table th {
    border: 1px solid black;
    background-color: #afe4e4;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
}

tr:nth-child(even) {
    background-color: #D6EEEE;
    border: 1px solid black;
}

.about {
    margin-top: 30px;
    font-family: Calibri;
    margin-bottom: 30px;
}

.disclaimer {
    margin-bottom: 5px;
    font-weight: bold;
    font-family: Arial;
    font-style: italic;
    color: red;
    font-size: smaller;
    position:fixed;
    left: 0;
    bottom: 0;
    z-index: 2;
    margin-top: 20px;

}

.register {
    text-align: center;
    color: crimson;
}

.content-section {
    max-width: 600px; /* Set the maximum width of the content section */
    margin: 0 auto; /* Center the content section horizontally */
    padding: 20px; /* Add some padding to create space around the content */
}

/* Style the form groups (each label and input pair) */
.form-group {
    margin-bottom: 30px;
}

/* Style the labels to appear on top */
.form-group label {
    display: block; /* Make labels block-level elements */
    margin-bottom: 5px;
}

/* Style the input fields */
.form-group input {
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: auto;
}

/* Style the form submit button */
.form-group .btn {
    width: 150px; /* Adjust the button's width as needed */
    font-size: large;
    color: white;
    background-color: rgb(143, 7, 7);
    display: block;
    font-family: Arial;
    padding: 10px 20px; /* Adjust padding for the button */
    cursor: pointer; /* Change cursor to pointer on hover */
}
.form-group .btn:hover {
    background-color: #3772ad; /* Change background color on hover */
    color: rgb(143, 7, 7);
    font-weight: bold;
}

/* Style the "Have an account?" text and link */
.text-muted a {
    text-decoration: none; /* Remove underline from the link */
    color: #007bff; /* Style the link text color */
    
}

.bodder-top {
    display: block;

}
/* Add spacing between the "Have an account?" text and link */
.text-muted {
    margin-top: 10px;

}

.text {
    display: flex;
    margin-top: 5px;
    font-size: large;
    
}
.text2 {
    margin-top: 2px;
    text-decoration: underline;
}

.bookmark-form-group {
    margin-bottom: 30px;
}

.bookmark-form-group .btn {
    width: 150px; /* Adjust the button's width as needed */
    font-size: large;
    margin: auto;
    color: white;
    background-color: rgb(143, 7, 7);
    display: block;
    font-family: Arial;
    padding: 10px 20px; /* Adjust padding for the button */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.bookmark-form-group .btn:hover {
    background-color: #3772ad; /* Change background color on hover */
    color: rgb(143, 7, 7);
    font-weight: bold;
}

.bookmark-form-group input {
    width: 700px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;

}

/* Style the labels to appear on top */
.bookmark-form-group label {
    display: block; /* Make labels block-level elements */
    margin-bottom: 5px;
}

.bookmark {
    max-width: 800px; /* Set the maximum width of the content section */
    margin: 0 auto; /* Center the content section horizontally */
    padding: 20px; /* Add some padding to create space around the content */
}

.note {
    margin-top: 5px;
    color: rgba(161, 5, 5, 0.671);

}

/* Style the top navigation bar */
.top-navbar {
    background-color: #3772ad;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    font-size: large;
    top: 0; /* Stick the navigation bar to the top of the viewport */
    z-index: 1000; /* Ensure it appears above other content */
    position: sticky;
}

/* Style the "Home" link to be at the top left of the screen */
.home-link {
    color: #fff;
    text-decoration: none;
    position: absolute;
    left: 20px; /* Adjust the left value as needed */
    font-size: large;
}


/* Style the user-related links (e.g., "Logout" and "My Account") to the far right */
.user-links {
    display: flex;
    gap: 20px; /* Adjust the gap as needed */
    /* Additional styling for the user-related links */
}

.top-navbar a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-size: large;

}

.top-navbar a:hover {
    color: #000000;
}

.link {
    font-size: large;
    text-decoration: none;

}
.link a {
    text-decoration: none;

}

.link:hover {
    background-color: rgba(161, 5, 5, 0.671);
    color: white;

}
.link a:hover {
    color: white;

}

.content-above-footer {
    margin-bottom: 100px; /* Adjust the margin as needed to create space for the footer */
    z-index: 1;
    overflow-y: auto; /* Add a vertical scrollbar when the content exceeds the viewport height */
}

.last_five {
    font-size: large;
    font-weight: bold;
}

.watch_demo {
    font-style: italic;
    font-size: small;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 10px;
}

.detail {
    margin-bottom: 20px;
}

.bookmark-link {
    text-decoration: none;
}

.caution-note {
    color:rgba(161, 5, 5, 0.671);
    font-weight: bold;
}

.flash-message {
    color: rgba(161, 5, 5, 0.671);
}

.button:hover {
    background-color: red;
    cursor: pointer;
}

.button {
    width: 100px;
    height: 30px;
    border-width: 0px;
    justify-content: center;
    display: flex;
    border-radius: 4px;
    font-size:large;
    background-color: transparent;
}

.button:hover {
    color: #D6EEEE;
    font-weight: bold;
}

.btn-adjst {
    border-width: 0px;
    justify-content: center;
    display: flex;
}

.btn-adjst:hover {
    background-color: red;
}

.video {
    display: flex;
    justify-content: center;
}

.landing_dashboard {
    margin-left: 10px;
}

.landing_page {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.highlight {
    margin-top: 30px;
    font-weight: bold;
    background-color: aqua;
    margin-right: 20px;
    border-radius: 5px;
    padding-left: 4px;
    padding-right: 4px;
}
.stress {
    margin-top: 30px;
    font-weight: bold;
    background-color: rgb(0, 132, 255);
    border-radius: 5px;
    padding-left: 4px;
    padding-right: 4px;

}

body {
    background-color: rgb(231, 224, 224);
}

.overview {
    display: flex;
    justify-content: center;
}

.signup {
    display: flex;
    font-size: larger;
    display: inline-flex;
    flex-direction: row;
    background-color: darkgreen;
    border-radius: 10px;
    font-weight: bolder;
    padding: 5px;
    margin-top: 15px;
    flex-wrap: wrap;

}

.delete {
    font-size: larger;
    display: inline-flex;
    flex-direction: row;
    background-color: darkgreen;
    border-radius: 10px;
    font-weight: bolder;
    padding: 5px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.more_details {
    display: grid;
    justify-content: center;
}

.guide-form-group {
    color: white;
    background-color: rgb(143, 7, 7);
    display: block;
    font-family: Arial;
    cursor: pointer; /* Change cursor to pointer on hover */
    border-radius: 8px;
}

.guide-form-group:hover {
    background-color: #282829; /* Change background color on hover */
    font-weight: bold;
}